{% extends "utilisateur/base.html" %}
{% block titre %}Événements{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content%}

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 135px;">
    <h3><a href="{% url 'formulaire_evenements' %}">Publier une annonce</a></h3> <br>
    <div style="text-align: center;">
        <h1>Événements disponibles</h1> <br>

        <form action="{% url 'searcheve' %}" method="GET" accept-charset="utf-8">
            <input id="searchForm" name="searchForm2" placeholder="Recherche" required>
        </form>
    </div>

    <br><br>

    <ul style="text-align: center;font-size: 20px;">
        {% for eve in evenements %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Nom :</strong> {{eve.nom}}</p>

            {% if eve.description %}
            <p> <strong>Description :</strong> {{eve.description}}</p>
            {% endif %}

            <p> <strong>Date de début :</strong> {{eve.date_debut.date}}</p>

            {% if eve.heure_debut %}
            <p> <strong>Heure de début :</strong> {{eve.heure_debut}}</p>
            {% endif %}

            {% if eve.date_fin %}
            <p> <strong>Date de fin :</strong> {{eve.date_fin.date}}</p>
            {% endif %}

            {% if eve.heure_fin %}
            <p> <strong>Heure de fin :</strong> {{eve.heure_fin}}</p>
            {% endif %}

            {% if eve.don %}
            <p>La place à l'évènement est à donner.</p>
            {%else%}
            {% if eve.prix %}
            <p> <strong>Prix :</strong> {{eve.prix}}€</p>
            {% endif %}
            {% endif %}


            <p>Évènement proposé par {{eve.utilisateur.prenom}} {{eve.utilisateur.nom}}</p>

            <p><a href="{% url 'page_contact' eve.utilisateur.id %}" style="color:rgb(148, 121, 34);">Contacter</a></p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}