{% extends "utilisateur/base.html" %}
{% block titre %}Évenements{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}

<br><br><br><br><br>

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 50px; text-align: center;">
    <h1> Voici les événements correspondants à votre recherche</h1> <br><br>
    <ul style="text-align: center;font-size: 20px;">
        {% for eve in resultat %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p>Nom : {{eve.nom}}</p>

            {% if eve.description %}
            <p>Description : {{eve.description}}</p>
            {% endif %}

            <p>Date de début : {{eve.date_debut.date}}</p>

            {% if eve.heure_debut %}
            <p>Heure de début : {{eve.heure_debut}}</p>
            {% endif %}

            {% if eve.don %}
            <p>Date de fin : {{eve.date_fin.date}}</p>
            {% endif %}

            {% if eve.heure_fin %}
            <p>Heure de fin : {{eve.heure_fin}}</p>
            {% endif %}

            {% if eve.don %}
            <p>La place à l'évènement est à donner.</p>
            {%else%}
            {% if eve.prix %}
            <p>Prix : {{eve.prix}}€</p>
            {% endif %}
            {% endif %}


            <p>Évènement proposé par {{eve.utilisateur.prenom}} {{eve.utilisateur.nom}}</p>

            <p><a href="{% url 'page_contact' eve.utilisateur.id %}" style="color:rgb(148, 121, 34);">Contacter</a></p>
        </li>
        {% empty %}
        <br><br><br>
        <p>Aucun résultat ne correspond à votre recherche.</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}