{% extends "utilisateur/base.html" %}
{% block titre %}Mettre un événement en ligne{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}

<section class="page-section" id="evenements_formulaire" style="margin-bottom: 30px;margin-top: 70px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Poster un événement</h2>
        <h3 class="section-subheading text-muted">Mettez un événement et ses informations en ligne.</h3>
      </div>
    </div>
    <div style="margin: auto; width: 80%;">
      <div style="margin-left: 100px;">
        <form id="CovoiturageForm" action="{% url 'formulaire_evenements' %}" name="formulaire_evenements"
          novalidate="novalidate" method="post">
          {% csrf_token %}
          <div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Nom : </span> {{form.nom}}
              </p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Date de début : </span>
                {{form.date_debut}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Heure de début (facultatif)
                  : </span> {{form.heure_debut}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Date de fin (facultatif) :
                </span> {{form.date_fin}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Heure de fin (facultatif) :
                </span> {{form.heure_fin}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase" style="margin-right: 9px;">Description (facultatif) : </p>
              <p class="section-heading text-uppercase"> {{form.description}}</p>
              <p class="help-block text-danger"></p>
              <div class="form-group">
                <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Prix (facultatif) :
                  </span> {{form.prix}}</p>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Cochez si vous voulez
                    donner : </span> {{form.don}}</p>
                <p class="help-block text-danger"></p>
                <div style="margin: auto; width: 80%; text-align: center;"></div>
                <input type="submit" value="Envoyer" />
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block contact %}{% endblock %}