{% extends "utilisateur/base.html" %}
{% block titre %}Covoiturage{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content%}

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 135px;">
    <h3><a href="{% url 'formulaire_covoiturage' %}">Publier une annonce</a></h3> <br>
    <div style="text-align: center;">
        <h1>Covoiturages disponibles</h1> <br>

        <form action="{% url 'searchcovoit' %}" method="GET" accept-charset="utf-8">
            <input id="searchForm" name="searchForm1" placeholder="Recherche" required>
        </form>
    </div>

    <br><br>

    <ul style="text-align: center;font-size: 20px;">
        {% for covoit in covoiturages %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Lieu de départ :</strong> {{covoit.lieu_depart}}</p>

            <p> <strong>Lieu d'arrivée :</strong> {{covoit.lieu_arrivee}}</p>

            <p> <strong>Date :</strong> {{covoit.date.date}}</p>

            {% if covoit.heure %}
            <p> <strong>Heure de départ approximative :</strong> {{covoit.heure}}</p>
            {% endif %}

            <p> <strong>Nombre de places disponibles au total :</strong> {{covoit.nombre_places}}</p>

            {% if covoit.specifications %}
            <p> <strong>Spécifications :</strong> {{covoit.specifications}}</p>
            {% endif %}

            {% if covoit.prix %}
            <p> <strong>Prix pour 1 place :</strong> {{covoit.prix}}€</p>
            {% endif %}

            <p>Covoiturage proposé par {{covoit.utilisateur.prenom}} {{covoit.utilisateur.nom}}</p>

            <p><a href="{% url 'page_contact' covoit.utilisateur.id %}" style="color:rgb(148, 121, 34);">Contacter</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}