{% extends "utilisateur/base.html" %}
{% block titre %}Mettre un covoiturage en ligne{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}

<section class="page-section" id="covoiturage_formulaire" style="margin-bottom: 30px;margin-top: 70px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Poster un covoiturage</h2>
        <h3 class="section-subheading text-muted">Mettez un covoiturage et ses informations en ligne.</h3>
      </div>
    </div>
    <div style="margin: auto; width: 80%;">
      <div style="margin-left: 100px;">
        <form id="CovoiturageForm" action="{% url 'formulaire_covoiturage' %}" name="formulaire_covoiturage"
          novalidate="novalidate" method="post">
          {% csrf_token %}

          <div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Lieu de départ : </span>
                {{form.lieu_depart}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Lieu d'arrivée : </span>
                {{form.lieu_arrivee}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Date : </span>
                {{form.date}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Heure (facultatif) : </span>
                {{form.heure}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Nombre de places
                  disponibles : </span> {{form.nombre_places}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase" style="margin-right: 9px;">Spécifications (facultatif) : </p>
              <p class="section-heading text-uppercase"> {{form.specifications}}</p>
              <p class="help-block text-danger"></p>
              <div class="form-group">
                <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Prix (facultatif) : </span>
                  {{form.prix}}</p>
                <p class="help-block text-danger"></p>
                <input type="submit" value="Envoyer" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block contact %}{% endblock %}