{% extends "utilisateur/base.html" %}
{% block titre %}Cours{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}



<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 135px;">
    <h3><a href="{% url 'formulaire_cours' %}">Publier une annonce</a></h3> <br>
    <div style="text-align: center;">
        <h1>Cours disponibles</h1> <br>


        <form action="{% url 'searchcours' %}" method="GET" accept-charset="utf-8">
            <input id="searchForm" name="searchForm" placeholder="Recherche" required>
        </form>
    </div>

    <br><br>

    <ul style="text-align: center;font-size: 20px;">
        {% for cou in cours %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Nom :</strong> {{cou.nom}}</p>

            {% if cou.description %}
            <p> <strong>Description :</strong> {{cou.description}}</p>
            {% endif %}

            {% if cou.souhait %}
            <p> <strong>À échanger contre :</strong> {{cou.souhait}}</p>
            {% endif %}

            <p>Cours proposé par {{cou.utilisateur.prenom}} {{cou.utilisateur.nom}}</p>

            <p><a href="{% url 'page_contact' cou.utilisateur.id %}" style="color:rgb(148, 121, 34);">Contacter</a></p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}