{% extends "utilisateur/base.html" %}
{% block titre %}Mettre un cours en ligne{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}

<section class="page-section" id="cours_formulaire" style="margin-bottom: 30px;margin-top: 70px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Poster un cours</h2>
        <h3 class="section-subheading text-muted">Mettez un cours et ses informations en ligne.</h3>
      </div>
    </div>
    <div style="margin: auto; width: 80%;">
      <div style="margin-left: 100px;">
        <form id="CoursForm" action="{% url 'formulaire_cours' %}" name="formulaire_cours" novalidate="novalidate"
          method="post">
          {% csrf_token %}

          <div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Nom : </span> {{form.nom}}
              </p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase" style="margin-right: 9px;">Description (facultatif) : </p>
              <p class="section-heading text-uppercase"> {{form.description}}</p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase"><span style="margin-right: 20px;">Contre quoi aimerais-tu
                  l'échanger ? (facultatif) : </span> {{form.souhait}}</p>
              <p class="help-block text-danger"></p>
              <input type="submit" value="Envoyer" />
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block contact %}{% endblock %}