{% extends "utilisateur/base.html" %}
{% block titre %}Cours{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}

<br><br><br><br><br>

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 50px; text-align: center;">
    <h1> Voici les cours correspondants à votre recherche</h1> <br><br>
    <ul style="text-align: center;font-size: 20px;">
        {% for cou in resultat %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Nom :</strong>  {{cou.nom}}</p>

            {% if cou.description %}
            <p> <strong>Description :</strong>  {{cou.description}}</p>
            {% endif %}

            {% if cou.souhait %}
            <p> <strong>À échanger contre :</strong>  {{cou.souhait}}</p>
            {% endif %}

            <p>Cours proposé par {{cou.utilisateur.prenom}} {{cou.utilisateur.nom}}</p>

            <p><a href="{% url 'page_contact' cou.utilisateur.id %}" style="color:rgb(148, 121, 34);">Contacter</a></p>
        </li>
        {% empty %}
        <br><br><br>
        <p>Aucun résultat ne correspond à votre recherche.</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}