<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block titre %}LebonCS - Accueil{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'utilisateur/vendor/bootstrap/css/bootstrap.min.css' %}" />

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'utilisateur/vendor/fontawesome-free/css/all.min.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'utilisateur/css/agency.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'utilisateur/css/agency.min.css' %}" />

</head>

<body id="page-top" style="background: rgba(109, 104, 104, 0.466);">
  {% block navigation %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background: rgba(46,43,43,0.9)">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'accueil' %}">LebonCS</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actu_evenements' %}" style="color: rgba(254,209,54, 0.9)">Événements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actu_objets' %}" style="color: rgba(254,209,54, 0.9)">Objets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actu_covoiturage' %}" style="color: rgba(254,209,54, 0.9)">Covoiturage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actu_cours' %}" style="color: rgba(254,209,54, 0.9)">Cours</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'page_perso' %}" style="color: rgba(254,209,54, 0.9)">Mes annonces</a>
          </li>
          {% endif %}
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'deconnexion' %}"
              style="color: rgba(254,209,54, 0.9)">{% block utilisateurconnecte %}Déconnexion{% endblock %}</a>
            {% else %}
            <a class="nav-link" href="{% url 'connexion' %}"
              style="color: rgba(254,209,54, 0.9)">{% block utilisateurnonconnecte %}Connexion{% endblock %}</a>
            {% endif %}
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration' %}" style="color: rgba(254,209,54, 0.9)">S'enregistrer</a>
          </li>
          {% endif %}


        </ul>
      </div>
    </div>
  </nav>{% endblock %}

  {% block header %}
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in"></div>
        <div class="intro-heading text-uppercase" style="color: rgba(254,209,54, 0.9);">Bienvenue sur LebonCS !</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Découvrez nos services</a>
      </div>
    </div>
  </header>{% endblock %}

  {% block services %}
  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading" style="color: black;">Voici les différents onglets que vous propose notre site
            :</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <a class="nav-link" href="{% url 'actu_evenements' %}"><i
                class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-book fa-stack-1x fa-inverse"></i></a>
          </span>
          <h4 class="service-heading"><a class="nav-link" href="{% url 'actu_evenements' %}">Événements</a></h4>
          <p>Vous trouverez ici le calendrier des événements associatifs, des soirées et vous pourrez
            créer vos propres événements.</p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <a class="nav-link" href="{% url 'actu_objets' %}"><i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i></a>
          </span>
          <h4 class="service-heading"><a class="nav-link" href="{% url 'actu_objets' %}">Objets</a></h4>
          <p>Les petites annonces de CentraleSupélec. Que vous souhaitiez acheter ou vendre un
            produit, rendez-vous ici.</p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <a class="nav-link" href="{% url 'actu_covoiturage' %}"><i
                class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-car fa-stack-1x fa-inverse"></i></a>
          </span>
          <h4 class="service-heading"><a class="nav-link" href="{% url 'actu_covoiturage' %}">Covoiturage</a></h4>
          <p>Une fonctionnalité pour ceux qui ne possèdent pas de voiture ou ceux qui souhaitent
            proposer un covoiturage.</p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <a class="nav-link" href="{% url 'actu_cours' %}"><i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i></a>
          </span>
          <h4 class="service-heading"><a class="nav-link" href="{% url 'actu_cours' %}">Cours</a></h4>
          <p>Postez et visualisez les différents cours en ligne.</p>
        </div>
      </div>
    </div>
  </section> {% endblock %}

  {% block content%}{% endblock %}

  {% block contact %}
  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact</h2>
          <h3 class="section-subheading">Si vous avez des suggestions d'amélioration ou si vous souhaitez
            signaler un bug, écrivez-nous !</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="ContactForm" action="{% url 'accueil' %}" name="sentMessage" novalidate="novalidate" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6" style="margin-top: 70px;">
                <div class="form-group">
                  <p class="section-heading text-uppercase"> <span style="margin-right: 18px;">Nom</span> {{form.nom}}
                  </p>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="section-heading text-uppercase"><span style="margin-right: 14px;">Mail</span> {{form.mail}}
                  </p>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="section-heading text-uppercase"><span style="margin-right: 26px;">Tel</span> {{form.tel}}
                  </p>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6" style="text-align: end;">
                <div class="form-group">
                  <p class="section-heading text-uppercase">Votre message</p>
                  <p>{{form.msg}}</p>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success" style="margin-top: 10px;"></div>
                <input type="submit" class="btn btn-primary btn-xl text-uppercase" value="ENVOYER" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>{% endblock %}

  <!-- Footer -->
  <footer class="footer" style="background: rgba(46,43,43,0.9)">
    <p style="color: rgba(254,209,54, 0.9);">Copyright &copy; Groupe 9 - LebonCS</p>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'utilisateur/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'utilisateur/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'utilisateur/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'utilisateur/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'utilisateur/vendor/jquery-easing/jquery.easing.js' %}"></script>
  <script src="{% static 'utilisateur/vendor/jquery-easing/jquery.easing.compatibility.js' %}"></script>


  <!-- Contact form JavaScript -->
  <script src="{% static 'utilisateur/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'utilisateur/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'utilisateur/js/agency.min.js' %}"></script>
  <script src="{% static 'utilisateur/js/agency.js' %}"></script>

</body>

</html>