{% extends "utilisateur/base.html" %}
{% block titre %}Connexion{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content%}

<body style="background: #D3D3D3;">
  <section class="page-section" id="cours_formulaire">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <br><br>
          <h2 class="section-heading text-uppercase">Se connecter</h2> <br>
        </div>
      </div>
      <div style="margin: auto; width: 80%;">
        <div style="margin-left: 100px;">
          {% if user.is_authenticated %}
          Vous êtes connecté, {{ user.username }} ! <br><br>
          <a href="{% url 'deconnexion' %}">Déconnexion</a> <br>
          <a href="{% url 'accueil' %}">Accueil</a>
          {% else %}
          <form id="ConnexionForm" action="{% url 'connexion' %}" name="connexion" novalidate="novalidate"
            method="post">
            {% csrf_token %}
            {% if error %}
            <p><strong> Utilisateur inconnu ou mauvais mot de passe.</strong></p>
            {% endif %}
            <div>
              <p class="help-block text-danger"></p>
              <div class="form-group">
                <p class="section-heading text-uppercase"> <span style="margin-right: 52px;">Nom d'utilisateur : </span>
                  {{form.username}}</p>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <p class="section-heading text-uppercase"><span style="margin-right: 100px;">Mot de passe : </span>
                  {{form.password}}</p>
                <p class="help-block text-danger"></p>
              </div>
            </div>
        </div>
        <div style="margin: auto; width: 80%; text-align: center;">
          <input type="submit" value="Se connecter" />
        </div>
        </form>
      </div>
    </div>

    {% endif %}
  </section>
</body>

{% endblock %}


{% block contact %}{% endblock %}