{% extends "utilisateur/base.html" %}
{% block titre %}Mes annonces{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content%}

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 150px;font-size: 20px;text-align: center;">
    <h1>Voici vos annonces en lignes</h1> <br> <br>

    <ul style="text-align: center;font-size: 20px;">
        <h2>Objets</h2> <br>
        {% for obj in objets %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Nom :</strong> {{obj.nom}}</p>

            {% if obj.photo %}
            <p> <img src="{{obj.photo.url}}" alt="photo de l'objet" width="20%"></p>
            {% endif %}

            {% if obj.description %}
            <p> <strong>Description :</strong> {{obj.description}}</p>
            {% endif %}

            {% if obj.don %}
            <p>L'objet est à donner.</p>
            {%else%}
            {% if obj.prix %}
            <p> <strong>Prix :</strong> {{obj.prix}}€</p>
            {% endif %}
            {% endif %}

            <a href="{% url 'modifier_objet' profil_id obj.id %}" style="color:rgb(148, 121, 34);">Modifier
                l'annonce</a>
            <br>
            <a href="{% url 'supprimer_objet' profil_id obj.id %}" style="color:rgb(148, 121, 34);">Supprimer
                l'annonce</a>

        </li>
        <br>
        {% empty %}
        <p>Aucune annonce d'objet publiée</p>

        {% endfor %}
    </ul> <br>

    <ul style="text-align: center;font-size: 20px;">
        <h2>Évènements</h2> <br>
        {% for eve in evenements %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Nom :</strong> {{eve.nom}}</p>

            {% if eve.description %}
            <p> <strong>Description :</strong> {{eve.description}}</p>
            {% endif %}

            <p> <strong>Date de début : </strong> {{eve.date_debut.date}}</p>

            {% if eve.heure_debut %}
            <p> <strong>Heure de début :</strong> {{eve.heure_debut}}</p>
            {% endif %}

            {% if eve.date_fin %}
            <p> <strong>Date de fin :</strong> {{eve.date_fin.date}}</p>
            {% endif %}

            {% if eve.heure_fin %}
            <p> <strong>Heure de fin :</strong> {{eve.heure_fin}}</p>
            {% endif %}

            {% if eve.don %}
            <p> La place à l'évènement est à donner.</p>
            {%else%}
            {% if eve.prix %}
            <p> <strong>Prix :</strong> {{eve.prix}}€</p>
            {% endif %}
            {% endif %}

            <a href="{% url 'modifier_evenement' profil_id eve.id %}" style="color:rgb(148, 121, 34);">Modifier
                l'annonce</a>
            <br>
            <a href="{% url 'supprimer_evenement' profil_id eve.id %}" style="color:rgb(148, 121, 34);">Supprimer
                l'annonce</a>

        </li>
        <br>

        {% empty %}
        <p>Aucune annonce d'événement publiée</p>

        {% endfor %}
    </ul> <br>

    <ul style="text-align: center;font-size: 20px;">
        <h2>Cours</h2> <br>
        {% for cou in cours %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Nom :</strong> {{cou.nom}}</p>

            {% if cou.description %}
            <p> <strong>Description :</strong> {{cou.description}}</p>
            {% endif %}

            {% if cou.souhait %}
            <p> <strong>À échanger contre :</strong> {{cou.souhait}}</p>
            {% endif %}

            <a href="{% url 'modifier_cours' profil_id cou.id %}" style="color:rgb(148, 121, 34);">Modifier
                l'annonce</a>
            <br>
            <a href="{% url 'supprimer_cours' profil_id cou.id %}" style="color:rgb(148, 121, 34);">Supprimer
                l'annonce</a>

        </li>
        <br>

        {% empty %}
        <p>Aucune annonce de cours publiée</p>
        {% endfor %}
    </ul> <br>

    <ul style="text-align: center;font-size: 20px;">
        <h2>Covoiturages</h2> <br>
        {% for covoit in covoiturages %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Lieu de départ :</strong> {{covoit.lieu_depart}}</p>

            <p> <strong>Lieu d'arrivée :</strong> {{covoit.lieu_arrivee}}</p>

            <p> <strong>Date :</strong> {{covoit.date.date}}</p>

            {% if covoit.heure %}
            <p> <strong>Heure de départ approximative :</strong> {{covoit.heure}}</p>
            {% endif %}

            <p> <strong>Nombre de places disponibles au total :</strong> {{covoit.nombre_places}}</p>

            {% if covoit.specifications %}
            <p> <strong>Spécifications :</strong> {{covoit.specifications}}</p>
            {% endif %}

            {% if covoit.prix %}
            <p> <strong>Prix pour 1 place :</strong> {{covoit.prix}}€</p>
            {% endif %}

            <a href="{% url 'modifier_covoiturage' profil_id covoit.id %}" style="color:rgb(148, 121, 34);">Modifier
                l'annonce</a>
            <br>
            <a href="{% url 'supprimer_covoiturage' profil_id covoit.id %}" style="color:rgb(148, 121, 34);">Supprimer
                l'annonce</a>

        </li>
        <br>

        {% empty %}
        <p>Aucune annonce de covoiturage publiée</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}