{% extends "utilisateur/base.html" %}
{% block titre %}Contact{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content%}

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 150px;font-size: 20px;text-align: center;">
    <p> Informations de contact de {{vendeur.prenom}} {{vendeur.nom}} en {{vendeur.annee}} : </p>
    <br>

    {% if vendeur.pdp %}
    <p> <img src="{{vendeur.pdp.url}}" alt="photo de profil" width="20%"> </p>
    {% endif %}
    <br>
    <p> <strong>Mail :</strong> <a href="mailto:{{vendeur.mail}}">{{vendeur.mail}}</a></p>

    {% if vendeur.tel %}
    <p> <strong>Numéro de téléphone :</strong> {{vendeur.tel}}</p>
    {% endif %}
</div>

{% endblock %}


{% block contact %}{% endblock %}