{% extends "utilisateur/base.html" %}
{% block titre %}Enregistrement{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content%}

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 150px;">
<h1>S'enregistrer</h1>

<br>

<form action="{% url 'registration' %}" enctype='multipart/form-data' method='post'>
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" value="Submit" />
</form>
</div>

{% endblock %}


{% block contact %}{% endblock %}