{% extends "utilisateur/base.html" %}
{% block titre %}Objets{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content%}

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 135px;">
    <h3><a href="{% url 'formulaire_objets' %}">Publier une annonce</a></h3> <br>
    <div style="text-align: center;">
        <h1>Objets disponibles</h1> <br>

        <form action="{% url 'search3' %}" method="GET" accept-charset="utf-8">
            <input id="searchForm" name="searchForm4" placeholder="Recherche" required>
        </form>
    </div>

    <br><br>

    <ul style="text-align: center;font-size: 20px;">
        {% for obj in objets %}
        <li style="border:black 1px solid;margin-bottom: 30px; padding: 10px;">
            <p> <strong>Nom :</strong> {{obj.nom}}</p>

            {% if obj.photo %}
            <p> <img src="{{obj.photo.url}}" alt="photo de l'objet" width="20%"></p>
            {% endif %}

            {% if obj.description %}
            <p> <strong>Description :</strong> {{obj.description}}</p>
            {% endif %}

            {% if obj.don %}
            <p>L'objet est à donner.</p>
            {%else%}
            {% if obj.prix %}
            <p> <strong>Prix :</strong> {{obj.prix}}€</p>
            {% endif %}
            {% endif %}

            <p>Objet proposé par {{obj.utilisateur.prenom}} {{obj.utilisateur.nom}}</p>

            <p><a href="{% url 'page_contact' obj.utilisateur.id %}" style="color:rgb(148, 121, 34);">Contacter</a></p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}