{% extends "utilisateur/base.html" %}
{% block titre %}Mettre un objet en ligne{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}

<section class="page-section" id="objets_formulaire" style="margin-bottom: 30px;margin-top: 70px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Poster un objet</h2>
        <h3 class="section-subheading text-muted">Mettez un objet et ses informations en ligne.</h3>
      </div>
    </div>
    <div style="margin: auto; width: 80%;">
      <div style="margin-left: 100px;">
        <form id="ObjetsForm" action="{% url 'formulaire_objets' %}" enctype='multipart/form-data'
          name="formulaire_objets" novalidate="novalidate" method="post">
          {% csrf_token %}

          <div>
            <div class="form-group">
              <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Nom : </span> {{form.nom}}
              </p>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p class="section-heading text-uppercase" style="margin-right: 9px;">Description (facultatif) : </p>
              <p class="section-heading text-uppercase"> {{form.description}}</p>
              <p class="help-block text-danger"></p>
              <div class="form-group">
                <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Photo (facultatif) :
                  </span> {{form.photo}}</p>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Prix (facultatif) :
                  </span> {{form.prix}}</p>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <p class="section-heading text-uppercase"> <span style="margin-right: 12px;">Cochez si vous voulez
                    donner : </span> {{form.don}}</p>
                <p class="help-block text-danger"></p>
                <input type="submit" value="Envoyer" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block contact %}{% endblock %}