{% extends "utilisateur/base.html" %}
{% block titre %}Objets{% endblock %}
{% block header %}{% endblock %}
{% block services %}{% endblock %}


{% block content %}

<br><br><br><br><br>

<div style="margin: auto;width: 80%;margin-bottom: 50px;margin-top: 50px; text-align: center;">
    <h1> Voici les objets correspondants à votre recherche</h1> <br><br>
    <ul style="text-align: center;font-size: 20px;">
        {% for obj in resultat %}
        <li style="border:black 1px solid;margin-bottom: 30px;padding: 10px;">
            <p> <strong>Nom :</strong>  {{obj.nom}}</p>

            {% if obj.photo %}
            <p> <img src="{{obj.photo.url}}" alt="photo de l'objet" width="20%"></p>
            {% endif %}

            {% if obj.description %}
            <p> <strong>Description :</strong>  {{obj.description}}</p>
            {% endif %}

            {% if obj.don %}
            <p>L'objet est à donner.</p>
            {%else%}
            {% if obj.prix %}
            <p> <strong>Prix :</strong>  {{obj.prix}}€</p>
            {% endif %}
            {% endif %}

            <p>Objet proposé par {{obj.utilisateur.prenom}} {{obj.utilisateur.nom}}</p>

            <p><a href="{% url 'page_contact' obj.utilisateur.id %}" style="color:rgb(148, 121, 34);">Contacter</a></p>
        </li>
        {% empty %}
        <br><br><br>
        <p>Aucun résultat ne correspond à votre recherche.</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block contact %}{% endblock %}